body
{
margin :0;
padding: 0;
width: 100%;
height: 100%;
}
.wrapper
{
    margin: 0 auto;
    width: 1500px;
    height: 3679px;

}
.logo
{
margin-top: 30px;
margin-left:115px;
display: inline;
height: 80px;
justify-content: center;
align-items: center;
}
.nav-home
{
margin-top: 50px;
margin-left: 325px;
width: 109px;
height: 39px;
font-size: 15.87px;
font-family: 'Dangrek', cursive;
font-weight: 600;
border: none;
outline: none;
background-color: #f8e9cb;
transition-duration: 0.1s;
border-radius: 19.5px;
}
.nav-home:hover
{
    flex-shrink: 0;

border: 1px solid #2927A6;
background: #FF9C00;
color: #152924;
}
.navbar
{
    display: flex;
    margin-top: 0px;
    width: 100%;
}
.nav-collection
{
    margin-left: 66px;
    margin-top: 50px;
    color: #152924;
    transition-duration: 0.1s;
font-size: 15.87px;
font-family: 'Dangrek', cursive;
font-weight: 600;
border-radius: 19.5px;
width: 109px;
height: 39px;
background-color: #f8e9cb;
border: none;
}
.nav-collection:hover
{
    flex-shrink: 0;

border: 1px solid #2927A6;
background: #FF9C00;
color: #152924;
}
.nav-art
{
    margin-left: 83px;
    margin-top: 50px;
    background-color: #f8e9cb;
    border: none;
font-size: 15.87px;
font-family: 'Dangrek', cursive;
font-weight: 600;
width: 109px;
height: 39px;
transition-duration: 0.1s;
border-radius: 19.5px;
}
.nav-art:hover
{
    flex-shrink: 0;
border: 1px solid #2927A6;
background: #FF9C00;
color: #152924;
border-radius: 19.5px;
}
.nav-menu
{
    margin-left: 304px;
    margin-top: 50px;
    height: 56px;
    width: 56px;
}
.nav-menu:active
{
    box-shadow: 0px 0px 5px 5px rgba(90, 90, 90, 0.4);
}
.star
{
    width: 113px;
    height: 210px;
    border: solid #2927A6;
    flex-shrink: 0;
    border-radius: 68px;
    margin-left: 126px;
    margin-top: 93px;
}
.star1
{
    margin-top: 16px;
    margin-left: 10px;
    margin-right: 10px;
    width: 93px;
    height: 93px;
    flex-shrink: 0;
    
}
.k25
{
    font-family: 'Dangrek', cursive;
    width: 69px;
height: 37px;
flex-direction: column;
flex-shrink: 0;
color: #000;
text-align: center;
font-size: 28px;
margin-left: 21px;
margin-right: 23px;
margin-top: 17px;
}
.star-text
{
    font-family: 'Dangrek', cursive;
    margin-left: 27px;
    margin-right: 23px;
    margin-top: -37px;
    display: flex;
width: 63px;
height: 36px;
flex-direction: column;
flex-shrink: 0;
color: #000;
font-size: 12px;
font-weight: 500;
line-height: 40px;
opacity: 0.6;
}
.gr47
{
    margin-left: 96px;
    width: 52.526px;
height: 53.876px;
}
.title
{
    display: flex;
width: 809px;
flex-direction: column;
flex-shrink: 0;
color: #000;
font-size: 75px;
font-family: 'Dangrek', cursive;
font-weight: 700;
line-height: 99.19px;
margin-left: 149px;
margin-top: -101px;
}
.sar
{
    color: #1e1c80;
    background: #FF9C00;
    margin-left: 120px;
    margin-bottom: -100px;
}
.m1-text
{
    display: flex;
width: 577px;
flex-direction: column;
flex-shrink: 0;
color: rgba(0, 0, 0, 0.50);
font-size: 18px;
font-family: 'Dangrek', cursive;
font-weight: 700;
line-height: 28px;
margin-left: 133px;
margin-top: 34px;
}
.connect
{
    width: 316px;
height: 87px;
flex-shrink: 0;
border-radius: 50.457px;
border: 1.628px solid #000;
background: #FF9C00;
color: #000;
font-size: 25px;
font-family: 'Dangrek', cursive;
font-weight: 900;
box-shadow: 1px 3px 1px 3px rgb(73, 39, 224);
margin-left: 124px;
margin-bottom: 200px;
position: relative;
top: -300px;
}
.scroll-down
{
width: 136.181px;
height: 127px;
flex-shrink: 0;
margin-left: 599px;
margin-top: 242px;
}
.m1-img
{
margin-top: -518px;
margin-left: -395px;
width: 648px;
height: 711.045px;
flex-shrink: 0;
margin-bottom: 260px;
}
.main1
{
    background: #f8e9cb;
}
.m1-sline
{
    width: 100%;
    height: 25px;
    background-color: #2927A6;
    position: relative;
    bottom: 0px;

}